.header {
  background-color: $body-bg;
  // background-color: $body-bg;
  // height: var(--header-height);
  // border-bottom: 1px solid $gray-300;
  display: flex;
  justify-content: space-between;
  &.active {
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    // display: none;
  }
  &__left {
    display: flex;
    align-items: center;
    // flex: 1 1 450px;
    .hamburger-controls {
      padding-left: var(--layout-space-x);
      margin-right: var(--layout-space-x);
    }
  }
  &__right {
    // flex: 1 1 auto;
    padding-right: var(--layout-space-x);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      li {
        .btn-custom {
          &.btn-outline-primary {
            border-color: transparent;
          }
          position: relative;
          border-radius: 100vmax;
          width: 2.8rem;
          height: 2.8rem;
          // background-color: rgba($primary, 0.2);
          display: flex;
          align-items: center;
          justify-content: center;
          .badge {
            position: absolute;
            right: -0.2rem;
            top: -0.2rem;
            border-radius: 100vmax;
            font-size: 0.7rem;
          }
          i {
            font-size: 1rem;
          }
          &:hover {
            // background-color: rgba($primary, 0.2);
          }
        }
      }
    }
  }
}

.notify {
  position: relative;
  padding-top: 3rem;
  &__top {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: $white;
    padding: 0.6rem;
    border-bottom: 1px solid rgba($primary, 0.2);
  }
}
