@import "_base";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "mixin";
@import "common";
@import "header";
@import "sidebar";
@import "layout";
body {
  position: relative;
  &::before {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    // z-index: 10000;
    content: "";
    // background-color: rgba($gray-900, 0.9);
  }
}
.cards {
  display: flex;
  justify-content: space-between;
  column-gap: var(--layout-space-x);
  margin-bottom: var(--layout-space-x);
  &__items {
    background-color: $white;
    box-shadow: $custom-shadow;
    padding: calc(var(--layout-space-x) - 0.1rem);
    flex: 1 1 33%;
    // flex: 1 1 auto;
    border-radius: $border-radius;
    &:first-child {
      flex: 1 1 auto;
    }
  }
  .welcome-items {
    display: flex;
    column-gap: var(--layout-space-x);
    &__left {
      flex: 1 1 auto;
    }
    &__right {
      flex: 1 0 144px;
    }
  }
  .earning {
    display: flex;
    flex-direction: column;
    &__items {
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
      &.price {
        font-size: 1.5rem;
      }
    }
    &-2 {
      color: $success;
    }
  }
  .btns {
    display: flex;
  }
}

.cards2 {
  display: flex;
  justify-content: space-between;
  column-gap: var(--layout-space-x);
  margin-bottom: var(--layout-space-x);
  &__items {
    background-color: $white;
    box-shadow: $custom-shadow;
    padding: 1rem;
    flex: 0 1 25%;
    border-radius: $border-radius;
    &:first-child {
      flex: 1 1 auto;
    }
  }
}

.scrolltest {
  height: 200px;
  @extend %scrollbar;
}

.cards3 {
  display: flex;
  justify-content: space-between;
  column-gap: var(--layout-space-x);
  margin-bottom: var(--layout-space-x);
  &__items {
    background-color: $white;
    box-shadow: $custom-shadow;
    padding: 1rem;
    flex: 0 1 25%;
    border-radius: $border-radius;
    &:first-child {
      flex: 1 1 auto;
    }
  }
}
.cards4 {
  display: flex;
  justify-content: space-between;
  column-gap: var(--layout-space-x);
  margin-bottom: var(--layout-space-x);
  &__items {
    background-color: $white;
    box-shadow: $custom-shadow;
    padding: 1rem;
    flex: 0 1 25%;
    border-radius: $border-radius;
    &:first-child {
      flex: 1 1 auto;
    }
  }
}
@import "footer";
// https://themesbrand.com/velzon/html/default/dashboard-nft.html
